<div class="splash-container">
  <div class="splash">
    <% if current_user %>
      <h1 class="splash-head">My Super Awesome Web App</h1>
      <a href="/logout" class="pure-button pure-input-1-4">Logout</a>
    <% else %>
      <h1 class="splash-head">My Super Awesome Signup Page</h1>

      <div class="pure-form pure-form-aligned">
      <%= form_for :user, url: '/users' do |f| %>
        <fieldset>
          <div class="pure-control-group">
            <label class="label" for="name">Email</label>
            <%= f.text_field :email %>
          </div>

          <div class="pure-control-group">
            <label class="label" for="password">Password</label>
            <%= f.password_field :password %>
          </div>

          <div class="pure-control-group">
            <label class="label" for="foo">Password Confrimation</label>
            <%= f.password_field :password_confirmation %>
          </div>

          <div class="pure-controls">
            <%= f.submit class:"pure-button pure-input-1-4", value:"Submit"%>
          </div>
        </fieldset>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
